USE [master]
GO
/****** Object:  Database [HomebaseDB]    Script Date: 01-Jun-26 12:41:22 PM ******/
CREATE DATABASE [HomebaseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HomebaseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HomebaseDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HomebaseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HomebaseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomebaseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomebaseDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [nvarchar](10) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](500) NULL,
	[BVN] [nvarchar](11) NOT NULL,
	[AccountType] [nvarchar](100) NULL,
	[EmploymentStatus] [nvarchar](50) NULL,
	[NextOfKinName] [nvarchar](200) NULL,
	[NextOfKinPhone] [nvarchar](20) NULL,
	[NextOfKinRelationship] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[IPAddress] [nvarchar](50) NULL,
	[CustomerCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BVN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ddm_audit_log]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ddm_audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [nvarchar](50) NOT NULL,
	[action] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[ip_address] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ddm_customers]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ddm_customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NOT NULL,
	[bvn] [nvarchar](11) NOT NULL,
	[mono_customer_id] [nvarchar](100) NOT NULL,
	[loan_account_number] [nvarchar](50) NOT NULL,
	[created_by] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[address] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[mono_customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[bvn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ddm_debits]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ddm_debits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mandate_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[mono_mandate_id] [nvarchar](100) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[reference] [nvarchar](100) NOT NULL,
	[narration] [nvarchar](255) NULL,
	[status] [nvarchar](20) NOT NULL,
	[response_code] [nvarchar](10) NULL,
	[fee] [decimal](18, 2) NULL,
	[fee_bearer] [nvarchar](20) NULL,
	[session_id] [nvarchar](100) NULL,
	[debit_date] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ddm_mandates]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ddm_mandates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[mono_mandate_id] [nvarchar](100) NULL,
	[mono_customer_id] [nvarchar](100) NOT NULL,
	[loan_account_number] [nvarchar](50) NOT NULL,
	[mandate_type] [nvarchar](20) NOT NULL,
	[debit_type] [nvarchar](20) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[ready_to_debit] [bit] NOT NULL,
	[reference] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[fee_bearer] [nvarchar](20) NOT NULL,
	[bank_name] [nvarchar](100) NULL,
	[account_number] [nvarchar](20) NULL,
	[account_name] [nvarchar](100) NULL,
	[nibss_code] [nvarchar](100) NULL,
	[created_by] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[failure_reason] [nvarchar](500) NULL,
	[last_webhook_event] [nvarchar](100) NULL,
	[last_webhook_at] [datetime] NULL,
	[authorization_deadline] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[mono_mandate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ddm_pending_approvals]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ddm_pending_approvals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_type] [nvarchar](50) NOT NULL,
	[mandate_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[requested_by] [nvarchar](50) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[reason] [nvarchar](500) NULL,
	[manager_note] [nvarchar](500) NULL,
	[amount] [decimal](18, 2) NULL,
	[resolved_by] [nvarchar](50) NULL,
	[resolved_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ddm_repayment_schedule]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ddm_repayment_schedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mandate_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[loan_account_number] [nvarchar](50) NOT NULL,
	[installment_number] [int] NOT NULL,
	[due_date] [date] NOT NULL,
	[amount_due] [decimal](18, 2) NOT NULL,
	[amount_paid] [decimal](18, 2) NOT NULL,
	[outstanding] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[debit_id] [int] NULL,
	[paid_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ddm_staff]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ddm_staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[active_token] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[last_login] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
	[must_change_password] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ddm_webhook_events]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ddm_webhook_events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[event_id] [varchar](100) NULL,
	[event_type] [nvarchar](100) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[processed] [bit] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InternetBankingActivityLogs]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternetBankingActivityLogs](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[ActivityType] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[DeviceInfo] [nvarchar](255) NULL,
	[SessionID] [nvarchar](100) NULL,
	[ReferenceID] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InternetBankingUsers]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternetBankingUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[IsAdmin] [bit] NULL,
	[FailedLoginAttempts] [int] NULL,
	[IsLocked] [bit] NULL,
	[LockedBy] [nvarchar](50) NULL,
	[LockReason] [nvarchar](200) NULL,
	[LastLoginDate] [datetime] NULL,
	[LastPasswordChange] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ActiveToken] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrequalificationSubmissions]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrequalificationSubmissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[EmploymentStatus] [nvarchar](50) NULL,
	[MonthlyIncome] [decimal](18, 2) NULL,
	[LoanAmount] [decimal](18, 2) NULL,
	[PropertyType] [nvarchar](100) NULL,
	[PropertyLocation] [nvarchar](200) NULL,
	[AdditionalNotes] [nvarchar](500) NULL,
	[SubmittedAt] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[EligibleLoan] [decimal](18, 2) NULL,
	[MonthlyPayment] [decimal](18, 2) NULL,
	[MonthlyTotal] [decimal](18, 2) NULL,
	[InterestRate] [decimal](8, 4) NULL,
	[LoanTenor] [int] NULL,
	[PropertyPrice] [decimal](18, 2) NULL,
	[Equity] [decimal](18, 2) NULL,
	[Scheme] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[security_logs]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[security_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ip_address] [varchar](100) NOT NULL,
	[method] [varchar](10) NOT NULL,
	[endpoint] [varchar](500) NOT NULL,
	[status_code] [int] NOT NULL,
	[is_suspicious] [bit] NOT NULL,
	[anomaly_reason] [varchar](1000) NULL,
	[user_agent] [varchar](500) NULL,
	[body_size] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ts_Banking_Casa]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ts_Banking_Casa](
	[ID] [tinyint] NOT NULL,
	[CustCode] [int] NULL,
	[ProductCode] [tinyint] NULL,
	[ProductName] [nvarchar](50) NULL,
	[CurrentAcct] [bit] NULL,
	[ProductAcctNo] [int] NULL,
	[BranchId] [tinyint] NULL,
	[Tenor] [nvarchar](50) NULL,
	[Rate] [tinyint] NULL,
	[Moratorium] [tinyint] NULL,
	[Installments] [tinyint] NULL,
	[EffectDate] [nvarchar](50) NULL,
	[TerminalDate] [nvarchar](50) NULL,
	[CoyCode] [nvarchar](50) NULL,
	[MISCode] [tinyint] NULL,
	[DateCreated] [nvarchar](50) NULL,
	[Deposit] [tinyint] NULL,
	[Approved] [tinyint] NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[DateApproved] [nvarchar](50) NULL,
	[Status] [tinyint] NULL,
	[OperationID] [tinyint] NULL,
	[Balance] [float] NULL,
	[Interest] [tinyint] NULL,
	[AccountName] [nvarchar](50) NULL,
	[Disapproved] [tinyint] NULL,
	[SBUMIS] [tinyint] NULL,
	[Officer1] [tinyint] NULL,
	[Officer2] [tinyint] NULL,
	[PdID] [tinyint] NULL,
	[ODAmount] [tinyint] NULL,
	[ODInterestRate] [tinyint] NULL,
	[ODExpiry] [nvarchar](50) NULL,
	[OD] [tinyint] NULL,
	[SMS] [tinyint] NULL,
	[Email] [bit] NULL,
	[IB] [tinyint] NULL,
	[Currency] [nvarchar](50) NULL,
	[CurrRate] [bit] NULL,
	[LienAmount] [tinyint] NULL,
	[Lien] [tinyint] NULL,
	[PNC] [tinyint] NULL,
	[PND] [bit] NULL,
	[OldProductAcctNo] [nvarchar](1) NULL,
	[COTAcctAmt] [tinyint] NULL,
	[COTDate] [nvarchar](50) NULL,
	[COTCreatedBy] [nvarchar](1) NULL,
	[TOD] [tinyint] NULL,
	[TODRate] [tinyint] NULL,
	[TODExpiry] [nvarchar](50) NULL,
	[LedgerBalance] [float] NULL,
	[PCCode1] [nvarchar](50) NULL,
	[PCCode2] [nvarchar](50) NULL,
	[OldProductAcctNo1] [nvarchar](50) NULL,
	[OldProductAcctNo2] [nvarchar](50) NULL,
	[OldProductAcctNo3] [nvarchar](50) NULL,
	[Sent] [tinyint] NULL,
	[NubanAccountNumber] [nvarchar](50) NULL,
	[OldAccountNuber] [nvarchar](50) NULL,
	[LastCreditDate] [nvarchar](50) NULL,
	[LastDebitDate] [nvarchar](50) NULL,
	[source] [nvarchar](50) NULL,
 CONSTRAINT [PK_ts_Banking_Casa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ts_Banking_Customers]    Script Date: 01-Jun-26 12:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ts_Banking_Customers](
	[ID] [tinyint] NOT NULL,
	[CCode] [int] NULL,
	[CusTypeS] [tinyint] NULL,
	[CTName] [nvarchar](50) NULL,
	[CCDate] [nvarchar](50) NULL,
	[CSName] [nvarchar](50) NULL,
	[CName] [nvarchar](50) NULL,
	[CFName] [nvarchar](50) NULL,
	[CTitle] [nvarchar](50) NULL,
	[CGuardian] [nvarchar](1) NULL,
	[CDOB] [date] NULL,
	[CPOB] [nvarchar](50) NULL,
	[CMStatus] [nvarchar](50) NULL,
	[CGender] [nvarchar](50) NULL,
	[CNBusiness] [nvarchar](50) NULL,
	[CCOI] [nvarchar](1) NULL,
	[CRAZip] [nvarchar](1) NULL,
	[CHPhone] [bigint] NULL,
	[CMphone] [bigint] NULL,
	[CRACountry] [nvarchar](50) NULL,
	[CPAState] [nvarchar](50) NULL,
	[CPACity] [nvarchar](50) NULL,
	[CModeofID] [nvarchar](50) NULL,
	[CPOBox] [nvarchar](1) NULL,
	[CPEmail] [nvarchar](50) NULL,
	[CPANationality] [nvarchar](50) NULL,
	[CCOResidence] [nvarchar](100) NULL,
	[CContactMeans] [nvarchar](1) NULL,
	[CRelationship] [nvarchar](50) NULL,
	[CMaidenName] [nvarchar](1) NULL,
	[CNOKSName] [nvarchar](50) NULL,
	[CNOKFName] [nvarchar](50) NULL,
	[CNOKPhone] [bigint] NULL,
	[COccupation] [nvarchar](50) NULL,
	[CNOEmployer] [nvarchar](50) NULL,
	[CEmployAddress] [nvarchar](50) NULL,
	[CEmployState] [nvarchar](50) NULL,
	[CEmployCountry] [nvarchar](50) NULL,
	[CofPhone] [nvarchar](1) NULL,
	[CTID] [nvarchar](1) NULL,
	[MISCODE] [nvarchar](1) NULL,
	[branch] [tinyint] NULL,
	[company] [nvarchar](50) NULL,
	[CustomerPic] [nvarchar](1) NULL,
	[CustomerSign] [nvarchar](1) NULL,
	[CustomerThumb] [nvarchar](1) NULL,
	[WedDay] [tinyint] NULL,
	[WedMonth] [nvarchar](50) NULL,
	[WedYear] [smallint] NULL,
	[CCOContact] [nvarchar](100) NULL,
	[CNOB] [nvarchar](50) NULL,
	[CSector] [nvarchar](50) NULL,
	[Field1] [nvarchar](50) NULL,
	[Field2] [nvarchar](1) NULL,
	[Field3] [nvarchar](1) NULL,
	[Field4] [nvarchar](1) NULL,
	[Field5] [nvarchar](1) NULL,
	[Field6] [nvarchar](1) NULL,
	[Field7] [nvarchar](1) NULL,
	[Field8] [nvarchar](1) NULL,
	[Field9] [nvarchar](1) NULL,
	[Field10] [nvarchar](1) NULL,
	[MISStaff] [nvarchar](50) NULL,
	[CpType] [nvarchar](50) NULL,
	[ShortCode] [int] NULL,
	[AccountType] [tinyint] NULL,
	[CCategory] [tinyint] NULL,
	[AccountTypeDesc] [nvarchar](50) NULL,
	[Bank] [tinyint] NULL,
	[CTarget] [nvarchar](1) NULL,
	[Approved] [tinyint] NULL,
	[Disapproved] [tinyint] NULL,
	[DateApproved] [date] NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[NOKaddress] [nvarchar](50) NULL,
	[NOKemail] [nvarchar](1) NULL,
	[SCUMOL] [nvarchar](1) NULL,
	[GuardianPhone] [nvarchar](1) NULL,
	[GuardianAddr] [nvarchar](1) NULL,
	[MailSent] [bit] NULL,
	[PFAcustomer] [tinyint] NULL,
	[Field11] [nvarchar](1) NULL,
	[Field12] [nvarchar](1) NULL,
	[Field13] [nvarchar](1) NULL,
	[Field14] [nvarchar](1) NULL,
	[Field15] [nvarchar](1) NULL,
	[Field16] [nvarchar](1) NULL,
	[Field17] [nvarchar](1) NULL,
	[Field18] [nvarchar](1) NULL,
	[Field19] [nvarchar](1) NULL,
	[Field20] [nvarchar](1) NULL,
	[CoyWebsite] [nvarchar](1) NULL,
	[Email2] [nvarchar](50) NULL,
	[CreditRating] [nvarchar](1) NULL,
	[CModeofIDDate] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[LGA] [nvarchar](50) NULL,
	[PermitNo] [nvarchar](1) NULL,
	[EducationLevel] [nvarchar](50) NULL,
	[CertificationDate] [nvarchar](50) NULL,
	[EmployDate] [nvarchar](50) NULL,
	[PreviousEmployer] [nvarchar](1) NULL,
	[MotherName] [nvarchar](50) NULL,
	[FirstChild] [nvarchar](50) NULL,
	[ChildDOB] [nvarchar](50) NULL,
	[RegisteredOffice] [nvarchar](1) NULL,
	[CorrespondenceAddr] [nvarchar](1) NULL,
	[BankName] [nvarchar](1) NULL,
	[BankAddress] [nvarchar](1) NULL,
	[BankAccount] [nvarchar](1) NULL,
	[PrevCreditRating] [nvarchar](1) NULL,
	[AnnualTurnOver] [tinyint] NULL,
	[RCRelatedCoy] [nvarchar](1) NULL,
	[RCParentBody] [nvarchar](1) NULL,
	[GeoRegion] [nvarchar](50) NULL,
	[FingerPrintID] [bigint] NULL,
	[CorporateBizCategory] [nvarchar](1) NULL,
	[HomeTown] [nvarchar](1) NULL,
	[Spouse] [nvarchar](50) NULL,
	[IssuePlace] [nvarchar](50) NULL,
	[IssueAuthority] [nvarchar](50) NULL,
	[IndAcctsWithBanks] [nvarchar](50) NULL,
	[IndFund] [nvarchar](1) NULL,
	[IndFundAmt] [tinyint] NULL,
	[Political] [tinyint] NULL,
	[AccountComplete] [tinyint] NULL,
	[BatchRef] [nvarchar](50) NULL,
	[SensitivityId] [tinyint] NULL,
	[source] [nvarchar](50) NULL,
 CONSTRAINT [PK_ts_Banking_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Accounts_CustomerCode]    Script Date: 01-Jun-26 12:41:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_CustomerCode] ON [dbo].[Accounts]
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ddm_webhook_events_event_id]    Script Date: 01-Jun-26 12:41:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ddm_webhook_events_event_id] ON [dbo].[ddm_webhook_events]
(
	[event_id] ASC
)
WHERE ([event_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IBActivityLogs_ActivityType]    Script Date: 01-Jun-26 12:41:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_IBActivityLogs_ActivityType] ON [dbo].[InternetBankingActivityLogs]
(
	[ActivityType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IBActivityLogs_CreatedAt]    Script Date: 01-Jun-26 12:41:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_IBActivityLogs_CreatedAt] ON [dbo].[InternetBankingActivityLogs]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IBActivityLogs_CustomerCode]    Script Date: 01-Jun-26 12:41:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_IBActivityLogs_CustomerCode] ON [dbo].[InternetBankingActivityLogs]
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IBUsers_CustomerCode]    Script Date: 01-Jun-26 12:41:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_IBUsers_CustomerCode] ON [dbo].[InternetBankingUsers]
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IBUsers_Email]    Script Date: 01-Jun-26 12:41:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_IBUsers_Email] ON [dbo].[InternetBankingUsers]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IBUsers_Status]    Script Date: 01-Jun-26 12:41:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_IBUsers_Status] ON [dbo].[InternetBankingUsers]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_security_logs_ip]    Script Date: 01-Jun-26 12:41:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_security_logs_ip] ON [dbo].[security_logs]
(
	[ip_address] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_security_logs_suspicious]    Script Date: 01-Jun-26 12:41:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_security_logs_suspicious] ON [dbo].[security_logs]
(
	[is_suspicious] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ddm_audit_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ddm_customers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ddm_debits] ADD  DEFAULT ('processing') FOR [status]
GO
ALTER TABLE [dbo].[ddm_debits] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ddm_mandates] ADD  DEFAULT ('emandate') FOR [mandate_type]
GO
ALTER TABLE [dbo].[ddm_mandates] ADD  DEFAULT ('variable') FOR [debit_type]
GO
ALTER TABLE [dbo].[ddm_mandates] ADD  CONSTRAINT [DF_ddm_mandates_status]  DEFAULT ('initiated') FOR [status]
GO
ALTER TABLE [dbo].[ddm_mandates] ADD  DEFAULT ((0)) FOR [ready_to_debit]
GO
ALTER TABLE [dbo].[ddm_mandates] ADD  DEFAULT ('business') FOR [fee_bearer]
GO
ALTER TABLE [dbo].[ddm_mandates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ddm_pending_approvals] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[ddm_pending_approvals] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ddm_repayment_schedule] ADD  DEFAULT ((0)) FOR [amount_paid]
GO
ALTER TABLE [dbo].[ddm_repayment_schedule] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[ddm_repayment_schedule] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ddm_staff] ADD  DEFAULT ('ops') FOR [role]
GO
ALTER TABLE [dbo].[ddm_staff] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[ddm_staff] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ddm_staff] ADD  DEFAULT ((0)) FOR [must_change_password]
GO
ALTER TABLE [dbo].[ddm_webhook_events] ADD  DEFAULT ((0)) FOR [processed]
GO
ALTER TABLE [dbo].[ddm_webhook_events] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[InternetBankingActivityLogs] ADD  DEFAULT ('success') FOR [Status]
GO
ALTER TABLE [dbo].[InternetBankingActivityLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InternetBankingUsers] ADD  DEFAULT ('active') FOR [Status]
GO
ALTER TABLE [dbo].[InternetBankingUsers] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[InternetBankingUsers] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[InternetBankingUsers] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[InternetBankingUsers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InternetBankingUsers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[security_logs] ADD  DEFAULT ((0)) FOR [is_suspicious]
GO
ALTER TABLE [dbo].[security_logs] ADD  DEFAULT ((0)) FOR [body_size]
GO
ALTER TABLE [dbo].[security_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ddm_debits]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[ddm_customers] ([id])
GO
ALTER TABLE [dbo].[ddm_debits]  WITH CHECK ADD FOREIGN KEY([mandate_id])
REFERENCES [dbo].[ddm_mandates] ([id])
GO
ALTER TABLE [dbo].[ddm_mandates]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[ddm_customers] ([id])
GO
ALTER TABLE [dbo].[ddm_pending_approvals]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[ddm_customers] ([id])
GO
ALTER TABLE [dbo].[ddm_pending_approvals]  WITH CHECK ADD FOREIGN KEY([mandate_id])
REFERENCES [dbo].[ddm_mandates] ([id])
GO
ALTER TABLE [dbo].[ddm_repayment_schedule]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[ddm_customers] ([id])
GO
ALTER TABLE [dbo].[ddm_repayment_schedule]  WITH CHECK ADD FOREIGN KEY([debit_id])
REFERENCES [dbo].[ddm_debits] ([id])
GO
ALTER TABLE [dbo].[ddm_repayment_schedule]  WITH CHECK ADD FOREIGN KEY([mandate_id])
REFERENCES [dbo].[ddm_mandates] ([id])
GO
USE [master]
GO
